
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h2>Login</h2>
        <div>
            @using (var form = Html.BeginForm())
            {
                if (!ViewBag.Authenticated)
                {
                    <p style="color:red">
                        @ViewBag.ErrorMessage
                    </p>
                    <table border="0">
                        <tr>
                            <td>Email Address:</td>
                            <td>
                                @Html.TextBox("UserName")
                            </td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td>
                                @Html.Password("Password")
                            </td>
                        </tr>
                    </table>
                    <div>
                        <input type="submit" value="Login" />
                    </div>
                }
                else
                {
                    <p>
                        @ViewBag.Greeting
                    </p>
                    <div>
                        <input type="submit" value="Logout" />
                    </div>
                }
            }
        </div>

    </div>
</body>
</html>
