<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div style="height:100px; background-color:aqua">
            <br />
            <span style="color:white; font-size:xx-large">MVC FUNDAMENTALS</span>
        </div>
        <div>
            @RenderBody()
        </div>
        <div style="height:50px; background-color:aliceblue">
            <br />&copy;2014-2015
        </div>

    </div>
</body>
</html>
