
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
         <h3>Home Page</h3>
        @Html.RouteLink("Add New",new { controller = "Employee", action = "AddEmployee"})
    </div>
</body>
</html>
